*{
    box-sizing: border-box;
}
html,body,.container{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
}
.container{
    position: relative;
    border-top: 1px solid transparent;
}
.fl{float: left;}
/*背景图片*/
.container_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}
/*背景遮罩效果*/
.container_bg_mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0,0,0,0.5);
}
/*顶部logo图片*/
.container_top_logo{
    position: absolute;
    z-index: 100;
    width: 5rem;
    top: 0.5rem;
    left: 50%;
    margin-left: -2.5rem;
}
/*图片列表展示*/
.pic_list{
    width: 14.5rem;
    margin:2.5rem auto 0 auto;
}
.pic_item{
    width: 4rem;
    height: 3rem;
    position: relative;
    border-radius: 0.15rem;
    overflow: hidden;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.2s;
}
.pic_item_center{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}
.pic_item_bottom{
    margin-bottom: 0;
}
.pic_item:hover{
    box-shadow: 0 0 0.2rem 0.1rem #fff;
}
.pic_item img{
    width: 100%;
    height: 100%;
}
.pic_item_text{
    position: absolute;
    bottom: 0;
    height: 0.4rem;
    line-height: 0.4rem;
    width: 100%;
    text-align: center;
    font-size: 0.16rem;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

/*图片轮播展示*/
.pic_swiper{
    position: absolute;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    z-index: 50;
    top: 0;
    left: 0;
    visibility: hidden;
}
.inxr_carousel{
    width: 100%;
    height: 75%;
    position: absolute;
    bottom: 0;
}
.pic_swiper .swiper-slide{
    text-align: center;
}
.pic_swiper .swiper-button-prev{
    background-image: url("../images/Jewelry/lf_arrow2.png");
    width: 0.5rem;
    height: 0.5rem;
    background-size: cover;
    transition: all 0.2s;
}
.pic_swiper .swiper-button-prev:hover{
    background-image: url("../images/Jewelry/lf_arrow1.png");
}
.pic_swiper .swiper-button-next{
    background-image: url("../images/Jewelry/rt_arrow2.png");
    width: 0.5rem;
    height: 0.5rem;
    background-size: cover;
    transition: all 0.2s;
}
.pic_swiper .swiper-button-next:hover{
    background-image: url("../images/Jewelry/rt_arrow1.png");
}
.pic_swiper_img{
    width: 8rem;
    height: 5.5rem;
}
.pic_swiper_text{
    color: #fff;
    font-size: 0.3rem;
}