.title{
 width: 100%;
  height: 40px;
  background: url("../images/master/master_hjAcademy_video/icon_Kline.png") no-repeat;
  margin-top: 2px;
  margin-bottom: 14px;
}
.item{
  float: left;
  width: 240px;
  margin-left:20px;
  margin-bottom: 35px;
  position: relative;
}
.list{
  margin-left: -20px;
}
.item .img{
  width: 240px;
  height: 135px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.item .img .mask{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/master/master_hjAcademy_video/icon_video_mask1.png") no-repeat 0;
  display: none;
}
.item:hover .mask{
  display: block;
}
.item .img img{
  width: 100%;
  transition:all .5s;
  -moz-transition:all .5s; /* Firefox 4 */
  -webkit-transition:all .5s; /* Safari and Chrome */
  -o-transition:all .5s; /* Opera */
}
.item:hover .img img{
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.item h2{
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin: 14px 0;
}
.item>a{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.item div.clearfix{
  font-size: 14px;
  color: #808080;
}
.item div.clearfix div{
  float: right;
}
.item .video_num{
  padding-left: 20px;
  background: url("../images/master/master_hjAcademy_video/icon_video1.png") no-repeat 0;
  margin-right: 13px;
}
.agora .title{
  background: url("../images/master/master_hjAcademy_video/icon_agora.png") no-repeat;
}
.invest .title{
  background: url("../images/master/master_hjAcademy_video/icon_invest.png") no-repeat;
}