
.tp_box{width:288px;  margin:0 auto;padding-bottom:10px;}
.tp_box .ts{ color:#999;font-size:12px; font-family:"arial"; text-align:center;padding-left:5px;}
.tp_relative{position:relative; width:100%;line-height: 12px;}
.tp_box .dk_title{background:url(/Public/v1/images/dk_title.png) center top no-repeat; width:180px; height:30px; margin:0 auto;}
ul,li{padding:0; margin:0; list-style-type:none;}
.click_btn{width:100%; overflow:hidden;font-family:"microsoft yahei"; z-index:10;}
/*position:absolute; left:152px; top:10px;*/
.click_btn ul{overflow:hidden; width:100%;}
.click_btn li{ display:block;float:left;height:14px;font-size:14px; color:#404040; line-height:14px; cursor:pointer; margin-left:35px;}
.click_btn li p{display:block;padding-left:18px;float:left;background:url(../../../Public/v2/images/global/tp1.png) no-repeat left center;text-align: left;}
.click_btn li span{float:left; width:25px; height:10px; margin-top:7px;}
.click_btn li span.c1{background-color:#F02851;}
.click_btn li span.c2{background-color:#D5D2D2;}
.click_btn li span.c3{background-color:#06925E;}
#container{margin-left:-27px;margin-top:-22px;  background:rgba(255, 255, 255,0);}
.highcharts-background {filter:alpha(opacity=0); -moz-opacity:0;  -khtml-opacity: 0;  opacity: 0;}

.click_btn li.click p{background:url(../../../Public/v2/images/global/tp.png) no-repeat left center;}
/*.blue_btn{height:28px; line-height:28px; border:1px solid #5780DF; width:90%; color:#5780DF; text-align:center; display:block; text-decoration:none; font-size:14px; margin:12px auto 0 auto;}*/
.blue_btn:hover{color:#fff; background-color:#5780DF;}

.blue_btn { display:block;margin:10px auto;width:80px;height:25px;font-size:14px;line-height:25px;text-align:center;color:#fff;background:#ee4e4c;border-radius:5px; }

.qr{width:auto; height:auto; position:absolute; right:0px; bottom:0px; cursor:pointer;}
.qr img{width:100%; text-align:right;}
.tuli{width:100%; overflow:hidden; padding-top:140px;}
.tuli li{float:left; width:40px; margin-left:5px; color:#222; font-size:12px; position:relative; text-indent:10px;}

.tuli li span{font-size:4px; margin-right:3px; position:absolute; left:-1px; top:3px; text-indent:0; width:9px; height:11px; overflow:hidden;}

.bk_roseo { background:#f75180!important; }
.bk_blue { background:#55a2ea!important; }
.bk_green { background:#75e069!important; }
.vote_write { right:35px;top:38px;position: absolute; }
.vote_write p { display:block;margin-bottom:15px;height:14px;font-size:12px;color:#333;line-height:14px; }
.vote_write p span { display:block;margin-top:1px;margin-right:6px;float:left;width:14px;height:14px; }
.vote_write p font { display:block;margin-top:1px;float:left;height:14px; }
.vote_ul { height:13px; }
.vote_li { margin-left:10px;height:13px;font-size:12px;line-height:13px; }
.vote_ul .checked .inputbk { background:url(../images/vote.png) no-repeat 0 0; }
.vote_li .inputbk { display:block;margin-right:4px;width:13px;height:13px;background:url(../images/vote.png) no-repeat -54px 0;cursor:pointer; }
.vote_btn { display:block;margin:10px auto;width:80px;height:25px;font-size:14px;line-height:25px;text-align:center;color:#fff;background:#ff2c55;border-radius:5px; }
.vote_warm { display:block;font-size:12px;color:#797979;text-align:center; }

.tuli li .sz{background-color:#F15C80; color:#F15C80;}
.tuli li .xd{background-color:#A9FF96; color:#A9FF96;}
.tuli li .pz{background-color:#CCC; color:#CCC;}

/*投票弹窗*/
.tp_opacity_bg{width:100%; height:100%; position:fixed; background:url(/Public/v1/images/opacity_bg.png) repeat; left:0; top:0; z-index:99998; display:none;}
.tp_success{width:680px; height:350px; background:url(/Public/v1/images/tp_alert_bg.jpg) no-repeat center center; position:fixed; left:50%; top:50%; margin-left:-340px; margin-top:-175px; z-index:99999; display:none;}
.tp_success .ts{color:#FFF; font-size:18px; padding:34px 0 0 65px; display:block; text-align:left; font-weight:bold;}
.tp_success .go_to{width:104px; height:36px; position:absolute; left:549px; top:278px;}
.tp_success .sure{width:88px; height:36px; position:absolute; left:444px; top:277px;}

.zm_word{font-size:12px; text-align:left; color:#999; display:none;}