/*换肤盒子中的展示背景色*/
.head_skin_box .nav{
    background: url(../images/global/nav_bg_black.png);
    background-size: cover;
}
.head_box .nav_bg{background: url("../images/global/nav_bg_black.png");background-size: cover;}